body {
  font-size: 14px;
}
.v30_5 {
  width: 100%;
  height: 979px;
  background: url("../images/v30_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v28_23 {
  width: 100%;
  height: 548px;
  background: url("../images/v28_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v28_11 {
  width: 123px;
  height: 277px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 192px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v28_12 {
  width: 123px;
  height: 344px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 125px;
  left: 156px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v28_13 {
  width: 123px;
  height: 548px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 312px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v28_22 {
  width: 123px;
  height: 548px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 936px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v28_15 {
  width: 123px;
  height: 277px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 192px;
  left: 624px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v28_19 {
  width: 123px;
  height: 344px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 125px;
  left: 1092px;
}
.v30_3 {
  width: 123px;
  height: 344px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 125px;
  left: 780px;
}
.v30_4 {
  width: 123px;
  height: 344px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 125px;
  left: 468px;
}
.v28_21 {
  width: 123px;
  height: 277px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 192px;
  left: 1248px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v28_31 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 479px;
  left: 108px;
  font-family: Days One;
  font-weight: Regular;
  font-size: 255px;
  opacity: 1;
  text-align: center;
}
